*{
    margin: 0px;
    padding: 0px;
}

#body{
    background-color: rgb(245, 245, 245);
}

h1, h2, h3{
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times,  serif;
}

a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header_ruta{
    background-color: whitesmoke;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

#header_ruta_start{
    background-color: whitesmoke;
    padding: 0px;
    padding-top: 6%;
    padding-bottom: 25px;
    margin-bottom: 0px;
    height: 300px;
}

#header_ruta_start h1{
    font-size: 70px;
}

#header_ruta_start h2{
    font-size: 50px;
}

#menyrad{
    margin-top: 0px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 10px gray;
}

#logga{
 background-color: none;
}

#logga :hover{
    cursor: pointer;
}

a:link {
    text-decoration: rgb(22, 22, 22);
  }
  
a:visited {
    text-decoration: rgb(22, 22, 22);
  }


#container{
   /* background-color: aquamarine;*/
    padding-bottom: 25px;
    
}

#container_start{
    /*background-color: aquamarine;*/
    padding-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#container2{
    /*background-color: violet;*/
    width: 100%;
    padding-bottom: 25px;
    
        
}

#container2bakgrund{
    background-color: rgb(213, 220, 223);
}

#ruta{
    margin: 4%;
    margin-bottom: 0%;
    background-color: tomato;
    height: 300px;
}

#ruta :hover{
    cursor: pointer;
}

#ruta-clam{
    background-color: none;
    
}

#ruta_start{
    margin: 4%;
    margin-bottom: 0%;
    background-color: tomato;
    height: 400px;
    border-radius: 15px 15px 0px 0px;
}

#ruta_start :hover{
    cursor: pointer;
}

#ruta_text{
    margin: 4%;
    margin-bottom: 0%;
    background-color: rgb(255, 255, 255);
    height: 300px;
}    

#ruta_bild{
    margin: 4%;
    margin-bottom: 0%;
    background-color: none;
    height: 300px;
}

#ruta_bild_fktr{
    margin: 25px;
    background-color: none;
}
#ruta_bild :hover{
    cursor: pointer;
}

#ruta-clam-rubrik{
    background-color: none;
    margin-top: 25px;
}

#bilder{
    height: 220px;
    /*box-shadow: 0px 2px 10px gray;*/
}

#bilder1{
    height: 300px;
    /*box-shadow: 0px 2px 10px gray;*/
}