*{
    margin: 0px;
    padding: 0px;
}

#body{
    background-color: azure;
}

header {
    height: 100%;
}

h1, h2, h3{
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times,  serif;
}

a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header_ruta{
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px gray;
    padding: 0px;
    padding-top: 25px;
}


#menyrad{
    margin-top: 25px;
}

#logga{

}

#logga :hover{
    cursor: pointer;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: none;
  }

#container{
    background-color: aquamarine;
    padding-bottom: 25px;
    
}

#container2{
    background-color: violet;
    width: 100%;
    padding-bottom: 25px;
    
        
}

#test{
    background-color: rgb(228, 228, 228);
}

#ruta{
    margin: 4%;
    margin-bottom: 0%;
    background-color: tomato;
    height: 300px;
}

#ruta :hover{
    cursor: pointer;
}

#ruta-clam{
    background-color: tomato;
}

#ruta-clam-rubrik{
    background-color: tomato;
    margin-top: 25px;
}

#bilder{
    height: 300px;
}